@charset "utf-8";
body
	{
		margin: 0px;
		height: 100%;
		font-size: 16px;
	}
a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color:#000000; 
    text-decoration:none; 
    cursor:pointer;  
}
h1 {
  letter-spacing: 8px;
}
h5 {
  letter-spacing: 3px;
}

header
	{
		height: 100%;
	}
.view {
 	background-image: url("../img/background/MainBG.jpg");
	height: 100vh;
	width: 100%;
	background-size: cover; 
	background-position: center;
}
.view2 {
 	background-image: url("../img/background/AccountBG.jpg");
	height: 100vh;
	width: 100%;
	background-size: cover; 
	background-position: center;
}

.popout { position: absolute !important;}

.wrapper
	{
		/*background: #C4C4C4;*/		
		background: #F3F3F3;
		position: absolute;
		width: 100%;
		z-index: 0;
	}
.disabled-text-input {
    pointer-events: none;
    cursor: not-allowed;
}
.header
	{
		background: #FFFFFF;
		position: -webkit-sticky; /* Safari */
		position: sticky;
		width: 100%;
		padding: 8px 0;
		top: 0;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
		z-index: 2;
	}
.header-top
	{
		background: #FFFFFF;
		position: relative;
		padding: 4px 0;
		width: 100%;
		/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
		z-index: 3;
	}

.footer
	{
		background: #030303;
		position: relative;
		padding: 20px 0;
		width: 100%;
		color:white;
		/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
		z-index: 1;
	}
.category-img{
	height: 100px; width: 100px; padding: 0; margin: auto; margin-top: 5%;
}
.product-img{
	height: 180px; width: 100%; padding: 0; margin: auto
}
.linkgt{
	color: rgba(2,117,216,1.00);
}
.img-icon-header
	{
		height: 42%; width: 42%;
		z-index: 1;
		margin-top: 40%;
	}
.img-icon-header:hover
	{
		opacity: 80%;
		cursor: pointer;
	}	
* {box-sizing:border-box}

.nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
		opacity: 80% !important;
  }
.zoomuppercase 
{
  transition: transform .2s;
  text-transform: uppercase; 
  letter-spacing: 10px;
}

.zoomuppercase:hover 
{
  cursor: pointer;
  transform: scale(2);
}
.link-gt
{
	color: #00AA82;
}
.link-gt:hover
{
	opacity: 80%;
}
/* Moblie*/
@media only screen and (max-width: 900px) and (min-width: 320px){
  #topmenu{
		
		background-color:#00FFFF;
		
	}
	#topmenu div{
		display:block;
		width:100%;
	}
	
}
@media only screen  and (min-width: 320px) and (max-width: 900px){
	.header{
		height: 80px;
	}
}
@media only screen  and (min-width: 905px) and (max-width: 1200px){
	.jrsfrt{
		height: 70px;
	}
}
/* Màn hình laptop hoặc desktop lớn*/
@media (min-width: 1200px) {
}

/* Màn hình máy tính bảng lớn hoặc máy tính màn hình trung bình */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Màn hình máy tính bảng nhỏ hoặc máy tính màn hình nhỏ */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Màn hình máy tính bảng rất nhỏ hoặc điện thoại di động */
@media (max-width: 767px) {
}

/* Điện thoại di động hoặc màn hình cực nhỏ */
@media (max-width: 480px) {
}

@charset "utf-8";

.popout { position: absolute !important;}

.disabled-text-input {
    pointer-events: none;
    cursor: not-allowed;
}

.footer
	{
		background: #030303;
		position: relative;
		padding: 20px 0;
		width: 100%;
		color:white;
		/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);*/
		z-index: 1;
	}
.img-icon-header
	{
		height: 42%; width: 42%;
		z-index: 1;
		margin-top: 40%;
	}
.img-icon-header:hover
	{
		opacity: 80%;
		cursor: pointer;
	}	
* {box-sizing:border-box}

.nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
		opacity: 80% !important;
  }

